.Posts__hero {
  height: 25vh;
  background: url('../../images/blog.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px black;
}

.Posts__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 1rem;
}